@media (max-width: 991px) {
  .menu {
    ul {
      text-align: center;
    }
    a {
      line-height: 40px;
    }
  }
  .header__phone {
    display: none;
  }

  .greybox {
    width: 826px;
    margin-left: -73px;
  }

  h3 {
    width: 657px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .tutorials__squares {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .tutorials__square {
    margin: 0 auto;
  }
  .tutorials__icon {
    margin: 0 auto;
  }
  .tutorials__icon {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header__btn .header__logout {
    margin-left: 9px;
  }
  .profile .profile__name:after {
    padding-left: 10px;
  }
  .profile img {
    margin-left: 0px;
    margin-right: 6px;
    border-radius: 50%;
  }
  .search__title {
    font-size: 17px;
  }
  .greybox {
    margin-left: -130px;
    width: 753px;
  }

  .tutorials h3 {
    width: 617px;
  }

  .middle__btn {
    display: flex;
    flex-direction: column;
  }
  .middle__btn__live {
    margin-left: 25px;
    width: 131px;
    margin-bottom: 10px;
  }
  .middle__btn__screen {
    margin-bottom: 10px;
  }

  .footer__title {
    font-size: 19px;
  }

  .email input {
    margin-left: -23px;
  }

  .footer__form .email input {
    margin-left: -43px;
  }

  @media (max-width: 480px) {
    .header__item-basket {
      display: none;
    }

    .header__navigation li + li {
      padding-left: 13px;
    }
    .breadcrumbs {
      padding: 20px 0px 20px;
    }

    .profile__name,
    .profile__money {
      display: none;
    }

    .search__title {
      font-size: 18px;
      text-align: center;
    }

    .search h1 {
      font-size: 35px;
      line-height: 1.5;
    }

    .search input {
      width: 400px;
    }

    .lets__check__pagination__item {
      margin-bottom: 10px;
    }

    .lets__check__item-item {
      width: 400px;
      margin-left: 20px;
    }

    .greybox {
      width: 575px;
      .greenbox {
        width: 575px;
        .greenbox__text {
          font-size: 20px;
          margin-left: 117px;
        }
        .greenbox__btn {
          width: 200px;
        }
      }
    }

    .tutorials h3 {
      width: 350px;
    }

    .email {
      margin-left: -41px;
      width: 140px;
    }

    .middle__btn__live {
      margin-left: 26px;
      margin-bottom: 10px;
    }

    .middle__btn__screen {
      margin-bottom: 10px;
    }

    .middle__social__twit {
      margin-bottom: 5px;
    }

    .footer__form input {
      margin-left: -41px;
      width: 136px;
    }

    .footer__title {
      font-size: 17px;
    }
  }

  .footer__title::after {
    width: 70px;
  }

  .footer__form input {
    margin-top: 300px;
    margin-left: -117px;
  }
}
